.fondoHome{
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background: url("../imagenes/atsurabzaid_logo_remasterizado_negativo_expanfet.png") center center / cover no-repeat fixed;
}
.modas{
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
    padding: 2em 1em;
}
.center_{
    display: flex;
    justify-content: center;
}

@media (max-width:650px){
    .modas{
        grid-template-columns: 25% 75%;
        display: block;
        justify-content: center;
        width: 100%;
        padding: 10em 0em;
    }
}