.fondoHome{
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background: url("../imagenes/atsurabzaid_logo_remasterizado_negativo_expanfet.png") center center / cover no-repeat fixed;
}
.modas{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 15em 0em;
}
.center_{
    display: flex;
    justify-content: center;
}

@media (max-width:650px){
    .modas{
        
        width: 100%;
        display: -webkit-inline-box;
        justify-content: center;   
    }
}