.recuContrase{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,1fr);

    padding: 0px 20px 0px 20px;
    padding-top: 80px;
}
.SiginStyl-Lan{
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background: url("../imagenes/landing-in.png") center center / cover no-repeat fixed;
}
.fomrForget{
    width: 80%;
}

@media (max-width:645px){
    .recuContrase{
        display: block;
       
    
        padding: 0px 20px 0px 20px;
        padding-top: 80px;
    }
    .fomrForget{
        width: 100%;
    }
}