.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.piedePag{
  background-color: #3d4868;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

@media  (max-width:640px) {
  .App-header {
    display: grid;
    grid-gap: 0ch;
    grid-template-columns: 50% 50%;
    
  }
  .contenido{
    min-width: 300px;
    display: grid;
grid-template-columns: repeat(1, 1fr);
grid-gap: 10px;
grid-auto-rows: minmax(100px, auto);
  }
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}
