.SiginStyl-Lan{
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background: url("../imagenes/landing-in.png") center center / cover no-repeat fixed;
}
.Formu-Lan{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2em 1em;
}
.flexss-Lan{
    flex: 1 0 auto;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}
.Inises-Lan{
    font-weight: 100;
    display: flex !important;
    justify-content: center !important;
    margin: auto !important;
}
.ImaLanding{
    min-width: 180px;
    width: 400px;
   padding-top: 100px;
}
.Formu-Lan-Auth{
        display: grid;
        grid-template-columns: 25% 75%;
        width: 100%;
        padding: 2em 1em;
}

@media  (max-width:640px) {
    .LoginLanding{
        width: 100%;
        background: url("../imagenes/white.png") center center / cover no-repeat fixed;
    }
    .Formu-Lan{
        display: block;
        justify-content: center;
        width: 100%;
        padding: 10em 0em;
    }
    .Formu-Lan-Auth{
        display: block;
        justify-content: center;
        width: 100%;
        padding: 10em 0em;
}
    .ImaLanding{
        min-width: 100px;
        max-width: 200px;
       padding-top: 100px;
    }
}
